<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="Hey, my name is Thomas Grininger.
    I am going by the name of RingoDev in the open source world and I am a security professional
    interested in the open source space as well as software product development. Have a look around and check out
    my blog.">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
    script-src 'self' https://analytics.ringodev.com/matomo.js;
    connect-src 'self' https://analytics.ringodev.com
    ">
    <title>{{ page.title }}</title>
    <script src="assets/js/tracking.js"></script>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
</head>
<body>
{% include header.html %}
<div class="container">
    {{ content }}
</div>
</body>
</html>